<dx-tree-list id="gridContainer" [dataSource]="tradesStore" [showBorders]="true" [highlightChanges]="true"
  itemsExpr="children" hasItemsExpr="hasItems" dataStructure="tree" width="100%" refreshMode="full"
  autoExpandAll="true" showRowLines="true">

  <dxi-column type="buttons" width="auto">
    <dxi-button text="Create level" icon="hierarchy" hint="Создать уровень" [onClick]="createLevelClick"
      [visible]="isCreateLevelAvailable"> </dxi-button>
    <dxi-button text="Split" icon="expand" hint="Разделить" [onClick]="splitClick" [visible]="isSplitAvailable">
    </dxi-button>
    <dxi-button text="Archive" icon="airplane" hint="В архив" [onClick]="archiveClick" [visible]="isArchiveAvailable">
    </dxi-button>
  </dxi-column>

  <dxi-column dataField="ticker.id" caption="Ticker" dataType="string" width="150">
    <dxo-lookup [dataSource]="tickersStore" displayExpr="id" valueExpr="id"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="enterPrice" caption="Enter Price" dataType="number" [editorOptions]="{showSpinButtons:true}"
    width="100">1000</dxi-column>

  <dxi-column dataField="stoploss" caption="Stoploss" dataType="number" [editorOptions]="{showSpinButtons:true}">1024
  </dxi-column>
  <dxi-column dataField="takeprofit" caption="Takeprofit" dataType="number" [editorOptions]="{showSpinButtons:true}">
    1500</dxi-column>

  <dxi-column dataField="size" caption="Size" dataType="number" [editorOptions]="{showSpinButtons:true}">50</dxi-column>

  <dxi-column dataField="balance" caption="Balance (k)" dataType="number" [editorOptions]="{showSpinButtons:true}">1800k
  </dxi-column>
  <dxi-column dataField="risk" caption="Risk (%)" dataType="number" [editorOptions]="{showSpinButtons:true}">0.05%
  </dxi-column>

  <dxi-column dataField="lockedMoney" caption="Locked (k)" dataType="number" [editorOptions]="{showSpinButtons:true}"
    [allowEditing]="false">15k</dxi-column>

  <dxi-column dataField="openedAt" caption="Opened At" dataType="datetime" [editorOptions]="{showSpinButtons:true}">
  </dxi-column>
  <dxi-column dataField="closedAt" caption="Closed At" dataType="datetime" [editorOptions]="{showSpinButtons:true}">
  </dxi-column>
  <dxi-column dataField="exitPrice" caption="Exit Price" dataType="number" [editorOptions]="{showSpinButtons:true}">1024
  </dxi-column>

  <dxi-column type="buttons" width="auto">
    <dxi-button text="Edit" icon="edit" hint="Редактировать" [onClick]="editClick" [visible]="isEditAvailable">
    </dxi-button>
    <dxi-button text="Save" icon="save" hint="Сохранить" [onClick]="saveClick" [visible]="isSaveAvailable">
    </dxi-button>
    <dxi-button text="Cancel" icon="undo" hint="Отмена" [onClick]="cancelEditClick" [visible]="isCancelEditAvailable">
    </dxi-button>
    <dxi-button text="Delete" icon="trash" hint="Редактировать" [onClick]="deleteClick" [visible]="isDeleteAvailable">
    </dxi-button>
  </dxi-column>

  <dxo-editing mode="row" [allowUpdating]="false" [allowAdding]="false" [allowDeleting]="false" [useIcons]="false">
  </dxo-editing>
  <dxo-selection mode="single" [recursive]="false">
  </dxo-selection>

</dx-tree-list>